<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'expenses')}">

<body>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <h5 class="card-header">Expenses</h5>
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                    <tr>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Category</th>
                        <th scope="col" class="px-6 py-4">Price</th>
                        <th scope="col" class="px-6 py-4">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="expense : ${expenses}"
                        class="border-b dark:border-neutral-500">
                        <td class="whitespace-nowrap px-6 py-4" th:text="${expense.name}"></td>
                        <td class="whitespace-nowrap px-6 py-4" th:text="${expense.category}"></td>
                        <td class="whitespace-nowrap px-6 py-4 font-medium"
                            th:text="${expense.amount} + ${expense.currency}">0.0 INR
                        </td>
                        <td class="whitespace-nowrap px-6 py-4"
                            th:text="${#temporals.format(expense.createdAt, 'yyyy-MM-dd')}"></td>
                    </tr    >
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>