<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'insights')}">

<body>
<h1 class="h1">Expense Insights</h1>
<p class="p-4">This is the simple dashboards shows the insight data of the user expenses</p>
<div class="flex flex-row gap-4">
    <div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800">
        <h5 class="mb-2 text-base leading-tight text-stone-900 dark:text-neutral-50">Total Expense</h5>
        <p th:text="${expenseInsight.totalExpense} + ' INR'"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            0.0 INR
        </p>
    </div>
    <div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800">
        <h5 class="mb-2 text-base leading-tight text-stone-900 dark:text-neutral-50">Current Month</h5>
        <p th:text="${expenseInsight.currentExpense} + ' INR'"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            0.0 INR
        </p>
    </div>
    <div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800">
        <h5 class="mb-2 text-base leading-tight text-stone-900 dark:text-neutral-50">Most Spent Category</h5>
        <p th:text="${expenseInsight.mostExpenseCategory}"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            OTHERS
        </p>
        <p th:text="${expenseInsight.mostExpenseCategoryValue} + ' INR'"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            0.0 INR
        </p>
    </div>
    <div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800">
        <h5 class="mb-2 text-base leading-tight text-stone-900 dark:text-neutral-50">Least Spent Category</h5>
        <p th:text="${expenseInsight.leastExpenseCategory}"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            OTHERS
        </p>
        <p th:text="${expenseInsight.leastExpenseCategoryValue} + ' INR'"
           class="mb-4 text-xl text-gray-900 font-semibold dark:text-neutral-200">
            0.0 INR
        </p>
    </div>
</div>

</body>
</html>